html, body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  height: 100%;
  width: 100%;
  overflow: hidden; /* scroll chiqmasligi uchun */
  font-family: 'Arial', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scale-wrapper {
  transform: scale(0.95);
  transform-origin: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: 10px;
}

h1 {
  color: #FFA500;
}

.text-display {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.button {
  background: #FF4500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background: #FF6347;
}

.big_button {
  background: #FF4500;
  color: white;
  padding: 30px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.big_button:hover {
  background: #FF6347;
}


.blurred {
  filter: blur(5px);
  /* Matnni hiralashtirish */
}

.custom-alert {
  position: fixed;
  top: 20px; /* yuqoridan 20px past */
  left: 50%; /* o‘rtaga joylash */
  transform: translateX(-50%); /* gorizontal markazlash */
  background-color: #ffcccc;
  color: #660000;
  padding: 10px 20px;
  border: 1px solid #cc0000;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 9999;
  font-size: 16px;
}




#rateRange {
  width: 300px;
  height: 10px;
  appearance: none;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
}

#rateRange::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF4500;
  cursor: pointer;
  transition: background 0.3s ease;
}

#rateRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF4500;
  cursor: pointer;
}

#rateValue {
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
  vertical-align: middle;
  color: #fff;
}
