body {
  font-family: 'Arial', sans-serif;
  background-color: #202020;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: 10px;
}

h1 {
  color: #FFA500;
}

.text-display {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.button {
  background: #FF4500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background: #FF6347;
}

.big_button {
  background: #FF4500;
  color: white;
  padding: 30px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.big_button:hover {
  background: #FF6347;
}


.blurred {
  filter: blur(5px);
  /* Matnni hiralashtirish */
}




#rateRange {
  width: 300px;
  height: 10px;
  appearance: none;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
}

#rateRange::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF4500;
  cursor: pointer;
  transition: background 0.3s ease;
}

#rateRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF4500;
  cursor: pointer;
}

#rateValue {
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
  vertical-align: middle;
  color: #fff;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

footer {
  
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  color:#202020
}